@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    
}

body{
    background: linear-gradient(to right, #005C98, #505BD5);
}

.contenedor{
    background-color: #F2F3F4;
    width: 400px;
    height: 550px;
    margin-left: 480px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #592A08; 
}

h1{
    text-align: center;
    height: 50px;
    padding-top: 35px;
    font-size: 40px;

}
form{

    width: 300px;
    height: 220px;
    margin-top: 10px;
    margin-left: 50px;
}

input{
    background-color: #BFC9CA;
    margin-left: 23px;
    margin-top: 20px;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;

}

a{
    color: black;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 90px;

}

.cancelar{
    margin-left: 0px;
    text-decoration: none;
    color: white;
}


button{
    background-color: #2471A3 ;
    color: #BFC9CA;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

button:hover{
    background-color: #5DADE2 ;
    cursor: pointer;
}